.icon_r {
    color: #F06182;
}

.icon_b {
    color: #47ABEA;
}

.icon_g {
    color: #89BE16;
}

.icon_w {
    color: #fff;
}

.svg_r {
    fill: #F06182;
}

.svg_b {
    fill: #47ABEA;
}

.svg_g {
    fill: #89BE16;
}

.svg_w {
    fill: #fff;
}

.svg_shadow {}

.header {
    background: {
        image: url("/images/logo.png");
        repeat: no-repeat;
        size: cover;
    }
    width: 100%;
    //height: calc(100vw/1920*799);
    background-position: center center;
    display: flex;
    justify-content: center;
    &-container {
        max-width: 1600px;
        width: 100%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        //margin: 17.2% 14.375% auto 40.1042%;
        margin: 320px 7% 100px auto;
        width: 900px;
        &-title {
            font: {
                family: Merriweather;
                size: 57px;
                weight: bold
            }
            color: #F06182;
            text-align: center;
        }
        &-description {
            color: #193A5E;
            text-align: center;
            font: {
                family: Ubuntu;
                size: 70px;
                weight: bold;
            }
            &-first {
                font: {
                    family: Ubuntu;
                    size: 50px;
                    weight: bold;
                }
            }
        }
        &-btn {
            background-color: #89BE16;
            border-radius: 50px;
            padding: 22px 64px;
            margin: auto auto;
            border: none;
            font: {
                family: Ubuntu;
                size: 25px;
            }
            color:#FFFFFF;
        }
    }
}

.content-border {
    display: flex;
    flex-direction: row;
    &-g {
        height: 10px;
        width: 100%;
        background-color: #89BE16;
    }
    &-b {
        height: 10px;
        width: 100%;
        background-color: #47ABEA;
    }
    &-r {
        height: 10px;
        width: 100%;
        background-color: #F06182;
    }
}

.wrapper_row {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper_col {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    &__achievement {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        //border: 1px solid gold;
        background-color: #F8F8F8;
        &-list {
            display: flex;
            flex-direction: row;
            &--row {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                margin: 69px 0px 68px 0px;
                padding: 0px 30px 0px 30px;
            }
        }
        &-item {
            display: flex;
            flex-direction: row;
            margin: auto 0px;
            align-items: flex-start;
            font: {
                family: Ubuntu;
                size: 20px;
            }
            text-align: left;
            color: #404040;
            line-height: 24px;
            i {
                color: #F06182;
                margin-right: 8px;
            }
        }
        &-bg {
            &-left {
                margin-left: -10%;
                margin-right: 15px;
                background-image: url("/images/achievement-bg-left.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 30.5%;
            }
            &-right {
                margin-left: -7.8%;
                display: flex;
                align-items: center;
                background-image: url("/images/achievement-bg-right.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 23.7%;
            }
        }
        // &-bg {
        //     &-left {
        //         margin-left: -18%;
        //         margin-right: 15px;
        //         background-image: url("/images/achievement-bg-left.png");
        //         background-repeat: no-repeat;
        //         background-size: contain;
        //         background-position: center;
        //     }
        //     &-right {
        //         margin-left: -7.8%;
        //         display: flex;
        //         align-items: center;
        //         background-image: url("/images/achievement-bg-right.png");
        //         background-repeat: no-repeat;
        //         background-size: contain;
        //         background-position: center;
        //     }
        // }
    }
    &__description {
        display: flex;
        flex-direction: row;
        background-image: url("/images/description-bg-tree.png");
        background-repeat: no-repeat;
        background-size: 40%;
        //background-position: 105px 0%;
        justify-content: center;
        &--content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin: 20px;
            &-text {
                display: flex;
                flex-direction: column;
                //margin: 70px 138px 50px 193px;
                margin: 50px 50px 0px 50px;
                &--title {
                    font: {
                        family: Merriweather;
                        size: 35px;
                        weight: bold;
                    }
                    color:#193A5E;
                }
                &--profession {
                    font: {
                        family: Ubuntu;
                        size: 25px;
                        weight: medium;
                    }
                    color: #F06182;
                }
                &--description {
                    font: {
                        family: Ubuntu;
                        size: 20px;
                    }
                    color:#404040;
                }
            }
            &--btn {
                background-color: #89BE16;
                border-radius: 50px;
                padding: 22px 64px;
                margin-left: 50px;
                border: none;
                font-family: Ubuntu;
                font-size: 25px;
                color: #FFFFFF;
            }
        }
        &--photo {
            width: 100%;
            display: flex;
            margin: 20px;
            img {
                width: 100%;
                height: 87.7%;
            }
        }
    }
    &__services {
        background: {
            image: url("/images/services-bg.png");
            repeat: no-repeat;
            color: #F7FAFF;
            size: contain;
        }
        display: flex;
        align-items:center;
        justify-content: center;
        //height: 638px;
        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 50px auto 50px 32px;
        }
        &--row {
            display: flex;
            flex-direction: row;
            margin: 25px 10px 25px 0px;
            &-1 {
                //background-color: #F06182;
                div:nth-child(1) {
                    margin-left: 57px;
                    margin-right: 143px;
                }
            }
            &-2 {
                //background-color: #89BE16;
                div:nth-child(1) {
                    margin-left: 137px;
                    margin-right: 177px;
                }
            }
            &-3 {
                //background-color: #47ABEA;
                div:nth-child(1) {
                    margin-right: 272px;
                }
            }
        }
        &--item {
            //background-color: #F06182;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-icon {
                //background-color: #47ABEA;
            }
            &-text {
                font: {
                    family: Ubuntu;
                    size: 25px;
                }
                max-width: 423px;
                margin-left: -20px;
                color:#193A5E;
            }
            &__row {
                &-1 {
                    padding-left: 80px;
                }
                &-2 {
                    padding-left: 20px;
                }
                &-3 {
                    padding-left: -60px;
                }
            }
        }
    }
    &__office {
        display: flex;
        //background-color: #89BE16;
        flex-direction: column;
        //height: 605px;
        padding: 70px 0;
        align-items: center;
        background: {
            image: url("/images/office-body-bg.png");
            repeat: no-repeat;
            position: 0% 30%;
            //size: contain;
        }
        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            background-image: url(/images/office-title-bg.png);
            background-repeat: no-repeat;
            background-position: 35% 0%;
            &-title {
                font: {
                    family: Merriweather;
                    size: 35px;
                    weight: bold;
                }
                color:#193A5E;
                text: {
                    transform: uppercase;
                    align: center;
                }
            }
            &-text {
                font: {
                    family: Ubuntu;
                    size: 25px;
                }
                color:#F06182;
            }
        }
        &--slider {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            &-carousel {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 70%;
                //background-color: #47ABEA;
            }
            &-slide {
                //background-color: gray;
                width: 398px;
                height: 398px;
                &--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
            &-prev {
                //background-color: #193A5E;
                // margin: 0 auto;
                // width: 200px;
                // display: block;
                // background: {
                //     image: url("/images/slider/arrow-prev.svg");
                //     repeat: no-repeat;
                //     // size: cover;
                //     position: center;
                // }
                // text-decoration: none;
                margin: auto auto;
                text-decoration: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-next {
                //background-color: #193A5E;
                // margin: 0 auto;
                // width: 200px;
                // text-decoration: none;
                // background: {
                //     image: url("/images/slider/arrow-next.svg");
                //     repeat: no-repeat;
                //     // size: cover;
                //     position: center;
                // }
                margin: auto auto;
                text-decoration: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__qa {
        display: flex;
        //background-color: rgb(199, 8, 199);
        flex-direction: column;
        //height: 605px;
        align-items: center;
        justify-content: center;
        background: {
            image: url("/images/qa-bg.png");
            size: cover;
            repeat: no-repeat;
        }
        .wrapper_col {
            padding: 70px 0;
        }
        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            &-title {
                font: {
                    family: Merriweather;
                    size: 35px;
                    weight: bold;
                }
                color:#193A5E;
                text: {
                    transform: uppercase;
                    align: center;
                }
            }
            &-text {
                font: {
                    family: Ubuntu;
                    size: 25px;
                }
                color:#F06182;
            }
        }
        &--slider {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: center;
            align-content: center;
            margin-bottom: -250px;
            &-carousel {
                display: flex;
                flex-direction: row;
                //background-color: #47ABEA;
                justify-content: space-between;
                align-items: flex-start;
                width: 70%;
            }
            &-wrapper {
                width: 619px;
                height: 500px !important;
                margin: 0 25px;
            }
            &-slide {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                &--content {
                    background-color: #FFFFFF;
                    height: 100%;
                    padding: 30px 48px 0px 48px;
                }
                &--title {
                    font: {
                        family: Ubuntu;
                        size: 20px;
                    }
                    text-align: left;
                    color:#193A5E;
                }
                &--circle {}
                &--description {
                    font: {
                        family: Ubuntu;
                        size: 18px;
                    }
                    text-align: left;
                    color:#404040;
                }
                &--shadow {
                    background:: {
                        image: url("/images/qa-shadow.png");
                        size: cover;
                        repeat: no-repeat;
                    }
                    min-height: 5px;
                    //height: 40px;
                    width: 100%;
                    margin-top: auto;
                }
            }
            &-prev {
                //background-color: #193A5E;
                margin: auto auto;
                //width: 200px;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
            }
            &-next {
                margin: auto auto;
                //width: 200px;
                text-decoration: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__quote {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        //height: 600px;
        margin-top: 250px;
        background: {
            image: url("/images/quote-bg.png");
            //size: cover;
            repeat: no-repeat;
            position: 100% 0%;
        }
        &--photo {
            margin-left: auto;
        }
        &--quote {
            display: flex;
            flex-direction: column;
            margin: auto auto;
            max-width: 40%;
            &-title {
                font: {
                    family: Ubuntu;
                    size: 20px;
                }
                color:#F06182;
                text-align:left;
            }
            &-description {
                font: {
                    family: Ubuntu;
                    size: 25px;
                    weight: medium;
                }
                color:#193A5E;
                text-align: left;
            }
        }
    }
    &__licenses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        //height: 605px;
        background: {
            image: url("/images/qa-bg.png");
            size: cover;
            repeat: no-repeat;
        }
        .wrapper_col {
            padding: 70px 0;
        }
        &--header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            &-title {
                font: {
                    family: Merriweather;
                    size: 35px;
                    weight: bold;
                }
                text-transform: uppercase;
                color:#193A5E;
                text-align: center;
            }
            &-text {
                font: {
                    family: Ubuntu;
                    size: 25px;
                }
                color:#F06182;
                text-align: center;
            }
        }
        &--slider {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: -200px;
            &-carousel {
                display: flex;
                flex-direction: row;
                //background-color: #47ABEA;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 70%;
            }
            &-slide {
                &-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                img {
                    margin: 0 auto;
                }
            }
            &-prev {
                margin: auto auto;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
            }
            &-next {
                margin: auto auto;
                text-decoration: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__contact {
        display: flex;
        flex-direction: row;
        //align-items: center;
        //height: 790px;
        justify-content: center;
        margin: 250px 0 50px 0;
        background: url(/images/office-title-bg.png) no-repeat 5% 0%, url(/images/achievement-bg-right.png) no-repeat 100% 0%;
        .wrapper_row {
            justify-content: space-evenly;
        }
        &-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 8px;
            // &:first-child {
            //     background: {
            //         image: url("/images/office-title-bg.png");
            //         repeat: no-repeat;
            //         position: 5% 5%;
            //     }
            // }
            // &:last-child {
            //     background: {
            //         image: url("/images/achievement-bg-right.png");
            //         repeat: no-repeat;
            //     }
            // }
            &--phone {
                width: 100%;
                display: flex;
                flex-direction: column;
                &--title {
                    font: {
                        family: Ubuntu;
                        size: 25px;
                        weight: bold;
                    }
                    color:#193A5E;
                    text-align: left;
                }
                &--number {
                    font: {
                        family: Ubuntu;
                        size: 83px;
                        weight: bold;
                    }
                    color:#F06182;
                    text-align: left;
                }
            }
            &--adress {
                width: 100%;
                display: flex;
                flex-direction: column;
                //justify-content: space-between;
                &--title {
                    font: {
                        family: Ubuntu;
                        size: 25px;
                        weight: bold;
                    }
                    color:#193A5E;
                    text-align: center;
                    text-transform: uppercase;
                }
                &--adress {
                    font: {
                        family: Ubuntu;
                        size: 20px;
                        weight: medium;
                    }
                    color:#89BE16;
                    text-align: center;
                    text-transform: uppercase;
                }
                &--description {
                    font: {
                        family: Ubuntu;
                        size: 18px;
                    }
                    color:#89BE16;
                    text-align: center;
                }
            }
            &--feedback {}
            &--ymap {}
        }
    }
}

.footer {
    width: 100%;
    //height: 244px;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url("/images/footer-bg.png");
        size: contain;
        repeat: repeat-x;
        position: center center;
    }
    &-content {
        max-width: 1600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 15px 0;
        &--title {
            font: {
                family: Merriweather;
                size: 35px;
                weight: bold;
            }
            color:#193A5E;
            text-align: center;
            //margin-top: 20px;
        }
        &--description {
            font: {
                family: Ubuntu;
                size: 25px;
                weight: medium;
            }
            color:#F06182;
            text-align: center;
            //margin-bottom: auto;
        }
        &-design {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            &-text {
                font: {
                    family: Roboto;
                    size: 24px;
                }
                color:#000000;
                text-align: center;
                margin-right: 8px;
            }
            &-logo {}
        }
    }
}

//_______________________________________________________________________
//_______________________________________________________________________
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";