.icon_r {
  color: #F06182; }

.icon_b {
  color: #47ABEA; }

.icon_g {
  color: #89BE16; }

.icon_w {
  color: #fff; }

.svg_r {
  fill: #F06182; }

.svg_b {
  fill: #47ABEA; }

.svg_g {
  fill: #89BE16; }

.svg_w {
  fill: #fff; }

.header {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center center;
  display: flex;
  justify-content: center; }
  .header-container {
    max-width: 1600px;
    width: 100%; }
    @media (max-width: 991.98px) {
      .header-container {
        display: flex;
        align-items: center;
        justify-content: center; } }
  .header__content {
    display: flex;
    flex-direction: column;
    margin: 320px 7% 100px auto;
    width: 900px; }
    @media (max-width: 991.98px) {
      .header__content {
        margin: 30px 0;
        width: auto;
        max-width: 320px; } }
    .header__content-title {
      font-family: Merriweather;
      font-size: 57px;
      font-weight: bold;
      color: #F06182;
      text-align: center; }
      @media (max-width: 991.98px) {
        .header__content-title {
          font-size: 35px; } }
      @media (max-width: 575.98px) {
        .header__content-title {
          font-size: 30px; } }
      @media (max-width: 400px) {
        .header__content-title {
          font-size: 27px; } }
    .header__content-description {
      color: #193A5E;
      text-align: center;
      font-family: Ubuntu;
      font-size: 70px;
      font-weight: bold; }
      @media (max-width: 991.98px) {
        .header__content-description {
          font-size: 37px; } }
      @media (max-width: 575.98px) {
        .header__content-description {
          font-size: 30px; } }
      @media (max-width: 400px) {
        .header__content-description {
          font-size: 27px; } }
      .header__content-description-first {
        font-family: Ubuntu;
        font-size: 50px;
        font-weight: bold; }
        @media (max-width: 991.98px) {
          .header__content-description-first {
            font-size: 27px;
            display: block; } }
        @media (max-width: 575.98px) {
          .header__content-description-first {
            font-size: 25px; } }
        @media (max-width: 400px) {
          .header__content-description-first {
            font-size: 22px; } }
    .header__content-btn {
      background-color: #89BE16;
      border-radius: 50px;
      padding: 22px 64px;
      margin: auto auto;
      border: none;
      font-family: Ubuntu;
      font-size: 25px;
      color: #FFFFFF; }
      @media (max-width: 991.98px) {
        .header__content-btn {
          padding: 15px 50px;
          font-size: 16px; } }
      @media (max-width: 575.98px) {
        .header__content-btn {
          font-size: 13px;
          padding: 15px 30px; } }

.content-border {
  display: flex;
  flex-direction: row; }
  .content-border-g {
    height: 10px;
    width: 100%;
    background-color: #89BE16; }
  .content-border-b {
    height: 10px;
    width: 100%;
    background-color: #47ABEA; }
  .content-border-r {
    height: 10px;
    width: 100%;
    background-color: #F06182; }

.wrapper_row {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row; }

.wrapper_col {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.content {
  display: flex;
  flex-direction: column; }
  .content__achievement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #F8F8F8; }
    .content__achievement-list {
      display: flex;
      flex-direction: row;
      margin-left: -3%; }
      @media (max-width: 991.98px) {
        .content__achievement-list {
          margin-left: 0;
          flex-direction: column;
          padding: 50px 30px 100px 30px;
          background-image: url(/images/achievement-bg-right.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: bottom right; } }
      @media (max-width: 575.98px) {
        .content__achievement-list {
          padding: 50px 0px 100px 0px; } }
      .content__achievement-list--row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin: 69px 0px;
        padding: 0 30px; }
        @media (max-width: 991.98px) {
          .content__achievement-list--row {
            width: 100%;
            margin: 0; } }
        @media (max-width: 400px) {
          .content__achievement-list--row {
            padding: 0 10px; } }
    .content__achievement-item {
      display: flex;
      flex-direction: row;
      margin: auto 0px;
      align-items: flex-start;
      font-family: Ubuntu;
      font-size: 20px;
      text-align: left;
      color: #404040;
      line-height: 24px; }
      .content__achievement-item i {
        color: #F06182;
        margin-right: 8px; }
      @media (max-width: 991.98px) {
        .content__achievement-item {
          margin: 10px 0; } }
      @media (max-width: 575.98px) {
        .content__achievement-item {
          font-size: 15px;
          align-items: baseline; } }
    .content__achievement-bg-left {
      margin-left: -10%;
      margin-right: 15px;
      background-image: url("/images/achievement-bg-left.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 30.5%; }
      @media (max-width: 1199.98px) {
        .content__achievement-bg-left {
          background-size: 150%;
          background-position: 100% center;
          margin-left: -7%;
          width: 34.7%; } }
      @media (max-width: 991.98px) {
        .content__achievement-bg-left {
          display: none; } }
    .content__achievement-bg-right {
      margin-left: -10.8%;
      display: flex;
      align-items: center;
      background-image: url("/images/achievement-bg-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 23.7%; }
      @media (max-width: 1199.98px) {
        .content__achievement-bg-right {
          background-size: 250%;
          background-position: 100% center;
          margin-left: -7.8%; } }
      @media (max-width: 991.98px) {
        .content__achievement-bg-right {
          display: none; } }
  .content__description {
    display: flex;
    flex-direction: row;
    background-image: url("/images/description-bg-tree.png");
    background-repeat: no-repeat;
    background-size: 40%;
    justify-content: center; }
    @media (max-width: 991.98px) {
      .content__description {
        background-size: contain; }
        .content__description .wrapper_row {
          flex-direction: column; } }
    .content__description--content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: 20px; }
      @media (max-width: 991.98px) {
        .content__description--content {
          margin: 0 0 20px 0; } }
      .content__description--content-text {
        display: flex;
        flex-direction: column;
        margin: 50px 50px 0px 50px; }
        @media (max-width: 991.98px) {
          .content__description--content-text {
            margin: 20% 50px 0 50px; } }
        @media (max-width: 767.98px) {
          .content__description--content-text {
            margin: 20% 20px 0 20px; } }
        .content__description--content-text--title {
          font-family: Merriweather;
          font-size: 35px;
          font-weight: bold;
          color: #193A5E; }
          @media (max-width: 575.98px) {
            .content__description--content-text--title {
              font-size: 30px; } }
          @media (max-width: 400px) {
            .content__description--content-text--title {
              font-size: 25px; } }
        .content__description--content-text--profession {
          font-family: Ubuntu;
          font-size: 25px;
          font-weight: medium;
          color: #F06182; }
          @media (max-width: 575.98px) {
            .content__description--content-text--profession {
              font-size: 20px; } }
          @media (max-width: 400px) {
            .content__description--content-text--profession {
              font-size: 15px; } }
        .content__description--content-text--description {
          font-family: Ubuntu;
          font-size: 20px;
          color: #404040; }
          @media (max-width: 575.98px) {
            .content__description--content-text--description {
              font-size: 15px; } }
          @media (max-width: 400px) {
            .content__description--content-text--description {
              font-size: 10px; } }
      .content__description--content--btn {
        background-color: #89BE16;
        border-radius: 50px;
        padding: 22px 64px;
        margin-left: 50px;
        border: none;
        font-family: Ubuntu;
        font-size: 25px;
        color: #FFFFFF; }
        @media (max-width: 991.98px) {
          .content__description--content--btn {
            margin: 20px auto 10px auto; } }
        @media (max-width: 575.98px) {
          .content__description--content--btn {
            font-size: 20px; } }
        @media (max-width: 400px) {
          .content__description--content--btn {
            font-size: 15px;
            padding: 20px 40px; } }
    .content__description--photo {
      width: 100%;
      display: flex;
      margin: 20px;
      align-items: center;
      justify-content: center; }
      .content__description--photo img {
        width: 100%; }
      @media (max-width: 991.98px) {
        .content__description--photo {
          margin: 0; } }
  .content__services {
    background-image: url("/images/services-bg.png");
    background-repeat: no-repeat;
    background-color: #F7FAFF;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 1600px) {
      .content__services {
        background-size: cover; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .content__services {
        background-size: cover; } }
    @media (max-width: 991.98px) {
      .content__services {
        background-image: none; } }
    .content__services--container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 50px auto 50px auto; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .content__services--container {
          margin: 50px 50px 50px 100px; } }
      @media (max-width: 991.98px) {
        .content__services--container {
          margin: 50px auto; } }
      @media (max-width: 575.98px) {
        .content__services--container {
          margin: 50px 10px; } }
    .content__services--row {
      display: flex;
      flex-direction: row;
      margin: 25px 10px 25px 0px; }
      @media (max-width: 991.98px) {
        .content__services--row {
          margin: 0;
          flex-direction: column;
          align-items: center; } }
      .content__services--row-1 div:nth-child(1) {
        margin-left: 3.5%;
        margin-right: 8%; }
        @media (max-width: 991.98px) {
          .content__services--row-1 div:nth-child(1) {
            margin: 0; } }
      .content__services--row-2 div:nth-child(1) {
        margin-left: 8.5%;
        margin-right: 11%; }
        @media (max-width: 991.98px) {
          .content__services--row-2 div:nth-child(1) {
            margin: 0; } }
      .content__services--row-3 div:nth-child(1) {
        margin-right: 17%; }
        @media (max-width: 991.98px) {
          .content__services--row-3 div:nth-child(1) {
            margin: 0; } }
    .content__services--item {
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media (max-width: 991.98px) {
        .content__services--item {
          width: 100%; }
          .content__services--item svg {
            width: 110px; } }
      .content__services--item-text {
        font-family: Ubuntu;
        font-size: 25px;
        max-width: 423px;
        margin-left: -20px;
        color: #193A5E; }
        @media (max-width: 1200px) {
          .content__services--item-text {
            font-size: 20px; } }
        @media (max-width: 991.98px) {
          .content__services--item-text {
            font-size: 20px;
            margin-left: 0; } }
        @media (max-width: 575.98px) {
          .content__services--item-text {
            font-size: 15px;
            max-width: none;
            width: 100%; } }
      .content__services--item__row-1 {
        padding-left: 80px; }
      .content__services--item__row-2 {
        padding-left: 20px; }
      .content__services--item__row-3 {
        padding-left: -60px; }
  .content__office {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    align-items: center;
    background-image: url("/images/office-body-bg.png");
    background-repeat: no-repeat;
    background-position: 0% -10%; }
    @media (max-width: 991.98px) {
      .content__office {
        background-image: none;
        padding: 0; } }
    .content__office--header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      background-image: url(/images/office-title-bg.png);
      background-repeat: no-repeat;
      background-position: 35% 0%; }
      @media (max-width: 991.98px) {
        .content__office--header {
          margin: 0;
          background-position: 45% 20%;
          padding: 50px 0 30px 0; } }
      @media (max-width: 400px) {
        .content__office--header {
          background-position: 0% 0%;
          padding: 50px 5px 30px 5px; } }
      .content__office--header-title {
        font-family: Merriweather;
        font-size: 35px;
        font-weight: bold;
        color: #193A5E;
        text-transform: uppercase;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__office--header-title {
            font-size: 20px; } }
      .content__office--header-text {
        font-family: Ubuntu;
        font-size: 25px;
        color: #F06182;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__office--header-text {
            font-size: 15px; } }
    .content__office--slider {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: space-between; }
      @media (max-width: 991.98px) {
        .content__office--slider {
          padding-bottom: 50px; } }
      .content__office--slider-carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%; }
      .content__office--slider-slide {
        width: 398px;
        height: 398px; }
        .content__office--slider-slide--container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .content__office--slider-slide--container img {
            width: 80%; }
      .content__office--slider-prev {
        margin: auto auto;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
      .content__office--slider-next {
        margin: auto auto;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
  .content__qa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/images/qa-bg.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .content__qa .wrapper_col {
      padding: 70px 0; }
    .content__qa--header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto; }
      .content__qa--header-title {
        font-family: Merriweather;
        font-size: 35px;
        font-weight: bold;
        color: #193A5E;
        text-transform: uppercase;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__qa--header-title {
            font-size: 30px; } }
        @media (max-width: 767.98px) {
          .content__qa--header-title {
            font-size: 25px; } }
      .content__qa--header-text {
        font-family: Ubuntu;
        font-size: 25px;
        color: #F06182;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__qa--header-text {
            font-size: 20px; } }
        @media (max-width: 767.98px) {
          .content__qa--header-text {
            font-size: 15px; } }
    .content__qa--slider {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-content: center;
      margin-bottom: -250px; }
      @media (max-width: 991.98px) {
        .content__qa--slider {
          margin-bottom: 50px; } }
      .content__qa--slider-carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%; }
        @media (max-width: 991.98px) {
          .content__qa--slider-carousel {
            width: 80%; } }
      .content__qa--slider-wrapper {
        width: 619px;
        height: 700px !important;
        margin: 0 25px; }
        @media (max-width: 1199.98px) {
          .content__qa--slider-wrapper {
            height: 650px !important; } }
        @media (max-width: 991.98px) {
          .content__qa--slider-wrapper {
            height: 600px !important; } }
        @media (max-width: 767.98px) {
          .content__qa--slider-wrapper {
            margin: 0 15px; } }
        @media (max-width: 400px) {
          .content__qa--slider-wrapper {
            height: 500px !important;
            margin: 0 10px; } }
      .content__qa--slider-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%; }
        .content__qa--slider-slide--content {
          background-color: #FFFFFF;
          height: 100%;
          padding: 30px 48px 0px 48px; }
          @media (max-width: 575.98px) {
            .content__qa--slider-slide--content {
              padding: 15px 15px 0px 15px; } }
        .content__qa--slider-slide--title {
          font-family: Ubuntu;
          font-size: 20px;
          text-align: left;
          color: #193A5E; }
          @media (max-width: 1199.98px) {
            .content__qa--slider-slide--title {
              font-size: 18px; } }
          @media (max-width: 991.98px) {
            .content__qa--slider-slide--title {
              font-size: 20px; } }
          @media (max-width: 767.98px) {
            .content__qa--slider-slide--title {
              font-size: 18px; } }
          @media (max-width: 400px) {
            .content__qa--slider-slide--title {
              font-size: 15px; } }
        @media (max-width: 991.98px) {
          .content__qa--slider-slide--circle {
            font-size: 15px; } }
        @media (max-width: 767.98px) {
          .content__qa--slider-slide--circle {
            font-size: 10px; } }
        @media (max-width: 400px) {
          .content__qa--slider-slide--circle {
            font-size: 7px; } }
        .content__qa--slider-slide--description {
          font-family: Ubuntu;
          font-size: 18px;
          text-align: left;
          color: #404040; }
          @media (max-width: 1199.98px) {
            .content__qa--slider-slide--description {
              font-size: 15px; } }
          @media (max-width: 991.98px) {
            .content__qa--slider-slide--description {
              font-size: 18px; } }
          @media (max-width: 767.98px) {
            .content__qa--slider-slide--description {
              font-size: 15px; } }
          @media (max-width: 400px) {
            .content__qa--slider-slide--description {
              font-size: 13px; } }
        .content__qa--slider-slide--shadow {
          background-image: url("/images/qa-shadow.png");
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 5px;
          width: 100%;
          margin-top: auto; }
      .content__qa--slider-prev {
        margin: auto auto;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer; }
      .content__qa--slider-next {
        margin: auto auto;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
  .content__quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 250px;
    background-image: url("/images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 25%; }
    @media (max-width: 991.98px) {
      .content__quote {
        margin-top: -50px;
        padding-top: 0;
        background-image: none; } }
    @media (max-width: 991.98px) {
      .content__quote .wrapper_row {
        flex-direction: column-reverse; } }
    .content__quote--photo {
      margin-left: auto;
      width: auto !important; }
      @media (max-width: 991.98px) {
        .content__quote--photo {
          margin: -60px auto 0px auto; } }
      @media (max-width: 575.98px) {
        .content__quote--photo {
          width: 100% !important; } }
    .content__quote--quote {
      display: flex;
      flex-direction: column;
      margin: auto auto;
      max-width: 40%; }
      @media (max-width: 991.98px) {
        .content__quote--quote {
          max-width: 80%;
          margin: auto auto; } }
      @media (max-width: 400px) {
        .content__quote--quote {
          max-width: 90%; } }
      .content__quote--quote-title {
        font-family: Ubuntu;
        font-size: 20px;
        color: #F06182;
        text-align: left; }
        @media (max-width: 1199.98px) {
          .content__quote--quote-title {
            font-size: 18px; } }
        @media (max-width: 991.98px) {
          .content__quote--quote-title {
            display: flex;
            flex-direction: row;
            font-size: 15px; }
            .content__quote--quote-title div {
              margin-right: 10px; } }
        @media (max-width: 400px) {
          .content__quote--quote-title {
            font-size: 13px; } }
      .content__quote--quote-description {
        font-family: Ubuntu;
        font-size: 25px;
        font-weight: medium;
        color: #193A5E;
        text-align: left; }
        @media (max-width: 1199.98px) {
          .content__quote--quote-description {
            font-size: 20px; } }
        @media (max-width: 991.98px) {
          .content__quote--quote-description {
            font-size: 15px;
            font-weight: 500; } }
  .content__licenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("/images/qa-bg.png");
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 991.98px) {
      .content__licenses {
        margin-bottom: -100px; } }
    .content__licenses .wrapper_col {
      padding: 70px 0; }
      @media (max-width: 991.98px) {
        .content__licenses .wrapper_col {
          padding: 30px 0px 100px 0px; } }
    .content__licenses--header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto; }
      .content__licenses--header-title {
        font-family: Merriweather;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        color: #193A5E;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__licenses--header-title {
            font-size: 25px; } }
      .content__licenses--header-text {
        font-family: Ubuntu;
        font-size: 25px;
        color: #F06182;
        text-align: center; }
        @media (max-width: 991.98px) {
          .content__licenses--header-text {
            font-size: 15px; } }
    .content__licenses--slider {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: -200px; }
      @media (max-width: 991.98px) {
        .content__licenses--slider {
          margin-bottom: 0; } }
      .content__licenses--slider-carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 70%; }
        @media (max-width: 991.98px) {
          .content__licenses--slider-carousel {
            width: 80%; } }
      .content__licenses--slider-slide {
        margin: auto 20px; }
        .content__licenses--slider-slide-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
        .content__licenses--slider-slide img {
          margin: 0 auto;
          max-width: 100%;
          max-height: 300px; }
      .content__licenses--slider-prev {
        margin: auto auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer; }
      .content__licenses--slider-next {
        margin: auto auto;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
  .content__contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 250px 0 50px 0;
    background: url(/images/office-title-bg.png) no-repeat 5% 0%, url(/images/achievement-bg-right.png) no-repeat 100% 0%; }
    .content__contact .wrapper_row {
      justify-content: space-evenly; }
      @media (max-width: 991.98px) {
        .content__contact .wrapper_row {
          flex-direction: column; } }
    @media (max-width: 991.98px) {
      .content__contact {
        margin-top: 0;
        padding-top: 100px;
        background: url(/images/office-title-bg.png) no-repeat 20% 5%; } }
    @media (max-width: 400px) {
      .content__contact {
        background-position: 0% 6%; } }
    .content__contact-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 8px;
      width: 50%; }
      @media (max-width: 991.98px) {
        .content__contact-col {
          margin: 50px 0;
          width: 100%; } }
      .content__contact-col--phone {
        width: 100%;
        display: flex;
        flex-direction: column; }
        .content__contact-col--phone--title {
          font-family: Ubuntu;
          font-size: 25px;
          font-weight: bold;
          color: #193A5E;
          text-align: center; }
          @media (max-width: 1199.98px) {
            .content__contact-col--phone--title {
              font-size: 23px; } }
          @media (max-width: 991.98px) {
            .content__contact-col--phone--title {
              font-size: 20px; } }
          @media (max-width: 575.98px) {
            .content__contact-col--phone--title {
              font-size: 15px; } }
        .content__contact-col--phone--number {
          font-family: Ubuntu;
          font-size: 70px;
          font-weight: bold;
          color: #F06182;
          text-align: center; }
          @media (max-width: 1199.98px) {
            .content__contact-col--phone--number {
              font-size: 63px; } }
          @media (max-width: 991.98px) {
            .content__contact-col--phone--number {
              font-size: 50px; } }
          @media (max-width: 575.98px) {
            .content__contact-col--phone--number {
              font-size: 40px; } }
          @media (max-width: 400px) {
            .content__contact-col--phone--number {
              font-size: 30px; } }
      .content__contact-col--feedback {
        width: 100%;
        height: calc(1600px* 0.28375);
        max-width: 674px;
        max-height: 454px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        justify-content: space-evenly;
        background-image: url("/images/form-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
        .content__contact-col--feedback--title {
          width: 100%;
          text-align: center;
          font-family: Merriweather;
          font-size: 35px;
          font-weight: bold;
          text-transform: uppercase;
          color: #193A5E; }
        .content__contact-col--feedback--inputs div.md-form label {
          font-family: Ubuntu;
          font-size: 20px;
          color: #747474; }
        .content__contact-col--feedback--inputs div.md-form input {
          font-family: Ubuntu;
          font-size: 20px;
          color: #747474; }
        .content__contact-col--feedback--inputs .feedbackSubmit {
          padding-top: .7rem;
          padding-bottom: .7rem;
          border: 2px solid #F06182 !important;
          background-color: #f06182 !important;
          border-radius: 50px;
          color: #fff !important; }
      .content__contact-col--adress {
        width: 100%;
        display: flex;
        flex-direction: column; }
        .content__contact-col--adress--title {
          font-family: Ubuntu;
          font-size: 25px;
          font-weight: bold;
          color: #193A5E;
          text-align: center;
          text-transform: uppercase; }
          @media (max-width: 1199.98px) {
            .content__contact-col--adress--title {
              font-size: 23px; } }
          @media (max-width: 991.98px) {
            .content__contact-col--adress--title {
              font-size: 20px; } }
          @media (max-width: 575.98px) {
            .content__contact-col--adress--title {
              font-size: 15px; } }
        .content__contact-col--adress--adress {
          font-family: Ubuntu;
          font-size: 20px;
          font-weight: medium;
          color: #89BE16;
          text-align: center;
          text-transform: uppercase; }
          @media (max-width: 1199.98px) {
            .content__contact-col--adress--adress {
              font-size: 18px; } }
          @media (max-width: 991.98px) {
            .content__contact-col--adress--adress {
              font-size: 15px; } }
          @media (max-width: 575.98px) {
            .content__contact-col--adress--adress {
              font-size: 13px; } }
        .content__contact-col--adress--description {
          font-family: Ubuntu;
          font-size: 18px;
          color: #89BE16;
          text-align: center; }
          @media (max-width: 1199.98px) {
            .content__contact-col--adress--description {
              font-size: 15px; } }
          @media (max-width: 991.98px) {
            .content__contact-col--adress--description {
              font-size: 12px; } }
          @media (max-width: 575.98px) {
            .content__contact-col--adress--description {
              font-size: 10px; } }
      .content__contact-col--ymap {
        max-width: 674px;
        max-height: 454px; }

.footer {
  width: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/footer-bg.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center center; }
  @media (max-width: 991.98px) {
    .footer {
      background-size: cover; } }
  .footer-content {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 15px 0; }
    .footer-content--name {
      display: flex;
      flex-direction: column;
      margin: 10px 0; }
      .footer-content--name--title {
        font-family: Merriweather;
        font-size: 35px;
        font-weight: bold;
        color: #193A5E;
        text-align: center; }
        @media (max-width: 1199.98px) {
          .footer-content--name--title {
            font-size: 25px; } }
        @media (max-width: 991.98px) {
          .footer-content--name--title {
            font-size: 20px; } }
      .footer-content--name--description {
        font-family: Ubuntu;
        font-size: 25px;
        font-weight: medium;
        color: #F06182;
        text-align: center; }
        @media (max-width: 1199.98px) {
          .footer-content--name--description {
            font-size: 20px; } }
        @media (max-width: 991.98px) {
          .footer-content--name--description {
            font-size: 15px; } }
    .footer-content-design {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      .footer-content-design-text {
        font-family: Roboto;
        font-size: 24px;
        color: #000000;
        text-align: center;
        margin-right: 8px; }
        @media (max-width: 1199.98px) {
          .footer-content-design-text {
            font-size: 18px; } }
        @media (max-width: 991.98px) {
          .footer-content-design-text {
            font-size: 14px;
            margin: auto 8px auto 0; } }
      .footer-content-design-logo {
        width: inherit; }
